body {
    background-color: 00005A;

}


.container {
    margin: 1rem;

}

.activityButton {
    background-color: 9fd33c;
    width: 10rem;
    height: 2rem;
    font-weight: 600;

}

p {
    color: 9fd33c;
    font-size: 1rem;
}

label {
    color: 9fd33c;
}

li {
    color: 9fd33c;
}

ul {
    padding-left: 0.5rem;
    margin: 1rem;
}