body {
    background-color: #00005A;
    width: 15rem;
}


.container {
    margin: 1rem;
}

.activityButton {
    width: 10rem;
    height: 2rem;

}

p, a {
    font-size: 1rem;
}

p {
    margin: 0.2rem;
}

label, li, p, a {
    color: 9fd33c;
}

ul {
    padding-left: 0.5rem;
    margin: 1rem;
}

#blockedWorkGivers {
    overflow: scroll;
    height: 10rem;
}

li:hover {
    color: red;
}

label {
    display: block;
}

#blockInput {
    width: 8rem;
}

button {
    background-color: #9fd33c;
    font-weight: 600;   
}

.tabButton:focus {
    background-color: #7DA336;
}

.hide {
    display: none;
}

.searchedJob {
    border: solid #565694;
    padding: 0.5rem;
}
